.search{
    display: flex;
    width: 100%;
    position: relative;
    gap: 10px;
    margin-bottom: 28px;
}
@media screen and (max-width: 767px){  
    .search{
        margin-bottom: 47px;
    }
}
@media screen and (max-width: 767px){  
    .search-form{
        margin-left: 4px;
        margin-right: 4px;
    }
}
.search__input {
    width: 100%;
    background-color: rgba(47, 47, 47, 1);
    border: none;
    border-radius: 8px;
    text-indent: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(139, 139, 139);
}
.search__input::placeholder {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(139, 139, 139);
}

.search__submit {
    /* display: block; */
    background: url(../../images/find.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0px;
    margin: 0px;
}
.search__submit:hover {
    opacity: .5;
}