.popup__container {
  width: 430px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 440px){  
  .popup__container {
      width: 282px;
  }
}


.popup {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  .popup_opened {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
}

  .popup__tip { 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 32px 36px 60px;
    padding: 0px;
  }

  .popup__info-img_err {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    background-image: url(../../images/ErrImg.svg);
    background-size: cover;
}

.popup__info-img_ok {
    width: 120px;
    height: 120px;
    margin-top: 60px;
    background-image: url(../../images/OkImg.svg);
    background-size: cover;
}

.popup__close-button {
    padding: 0;
    border: none;
      background: url(../../images/Close\ Icon.svg) center no-repeat;
      position: absolute;
      background-size: 100%;
      top: -40px;
      right: -40px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      font-size: 14px;
  }
  
  @media screen and (max-width: 440px){
    .popup__close-button {
      top: -38px;
      right: 0;
      width: 20px;
      height: 20px;
      background: url(../../images/Close\ Icon\ mobile.svg) no-repeat;
    }  
  }
  
  .popup__close-button:hover {
    opacity: 0.6;
  }